*{
  padding: 0;
  margin: 0;
}

h2{
  position: relative;
  text-align: center;
  margin-top: 10%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: -10%;
}
.calc{
  display: block;
  margin: auto;
  width: 30%;
  height: 80%;
  background-color: rgb(227, 224, 224);
  border: 3px solid rgb(85, 84, 84);
  border-radius: 10px;
  margin-top: 10%;
  
}
.screen{
  height: 50%;
  color: rgb(97, 120, 120);
  width: 97%;
  background-color: rgb(217, 251, 252);
  padding: 6px;
  margin: 7px;
  border: 2px solid black;
  border-radius: 10px;
}

.input{
  height: 60px;
  padding-top: 15px;
}
.btn{
  width: 80px;
  height: 40px;
  margin: 3px 0;
}
